---
import "@/styles/globals.css";

import ModelType from "@/components/ModelType.astro";
import Footer from "@/components/Footer.astro";

import MomanInterpret from "@/pages/_MomanInterpret";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Huy Võ</title>
  </head>
  <body class="flex flex-col min-h-[60vh]">
    <ModelType />

    <div class="flex-grow pt-10">
      <MomanInterpret client:load />
    </div>

    <Footer />
  </body>
</html>
