---
import { Alert } from "@/components/ui/alert";
import { Github } from "lucide-react";
---

<footer class="container mx-auto mt-auto">
  <Alert>
    <p
      class="text-sm leading-loose text-muted-foreground flex flex-row items-center justify-center"
    >
      Built with <a
        class="inline-flex font-medium underline underline-offset-4 hover:text-primary mx-1"
        href="https://github.com/HuyVo117"><Github /> Huy Võ</a
      > by{" "}
      <a
        href="https://www.facebook.com/VoNhatHuy117"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4 hover:text-primary mx-1"
      >
       Sound Box
      </a>
      {" "}team.
    </p>
  </Alert>
</footer>
